@model GegiCRM.Entities.Concrete.BankInformation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BankInformation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ttile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ttile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HesapNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HesapNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iban)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iban)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bank.BankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedBy.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
