@using GegiCRM.Entities.Concrete
@model List<AppUser>
@foreach (var item in Model)
{
    <p>@item.Name</p>
    @*<p>@item.OrderAddedByNavigations.FirstOrDefault().Id</p>*@
    @*<p>@item.OrderAddedByNavigations.FirstOrDefault().ModifiedByNavigation.Name</p>*@
    @*<p>@item.OrderModifiedByNavigations.FirstOrDefault().Customer.Name</p>*@
    @*<p>@item.OrderModifiedByNavigations.FirstOrDefault().Customer.Name</p>*@
}