@using GegiCRM.Entities.Concrete
@model List<AppUser>
@foreach (var item in Model)
{
    <p>@item.Name</p>
    @*<p>@item.OrderAddedBy.FirstOrDefault().Id</p>*@
    @*<p>@item.OrderAddedBy.FirstOrDefault().ModifiedBy.Name</p>*@
    @*<p>@item.OrderModifiedBy.FirstOrDefault().Customer.Name</p>*@
    @*<p>@item.OrderModifiedBy.FirstOrDefault().Customer.Name</p>*@
}