@using GegiCRM.Entities.Concrete
@{
    Layout = null;

}
@model IEnumerable<AppUser>

<small class="text-light fw-semibold mx-auto px-2">Kullanıcılar</small>
<div class="mt-1">
    <ul class="list-group list-group-flush" id="allUsers">
        @foreach (AppUser item in Model)
        {
            string lastSeen = "Online";
            string lastPage = "Hareket Bekleniyor...";
            string onlineClass = "avatar-online";
            var activityLog = @item.UserActivityLogs.LastOrDefault();
            {
                if (activityLog != null)
                {
                    lastPage = activityLog.LastVisitedPageTitle;
                    if (activityLog.LastLoginDate <= activityLog.LastLogoutDate)
                    {
                        lastSeen = activityLog.LastLogoutDate.ToString();
                        onlineClass = "avatar-offline";
                    }
                }
            }

            <li class="list-group-item list-group-item-action cursor-pointer">
                <div class="row" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="col-2">
                        <div class="avatar @onlineClass" id="userAvatar_@item.Id">
                            <img src="@item.ProfilePictureUrl" alt="" class="w-px-40 h-auto rounded-circle avatar profilePicture">
                        </div>
                    </div>

                    <div class="col-10">
                        <div class="row d-flex justify-content-between">
                            <p class="col-auto mb-0"> @item.NameSurname <small class="text-muted">@item.NormalizedUserName (#@item.Id)</small></p>
                            <small class="col-auto float-end" id="userLastSeen_@item.Id">@lastSeen</small>
                        </div>
                        <div class="row">
                            <p class="mb-0">
                                Son İşlem: <i id="userWhere_@item.Id">@lastPage</i>
                            </p>
                        </div>
                    </div>
                </div>


                <ul class="dropdown-menu dropdown-menu-start">
                    <li>
                        <div class="divider">
                            <div class="divider-text">@item.ToString()</div>
                        </div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/Users/ShowProfile/@item.Id">
                            <i class="bx bx-user me-2"></i>
                            <span class="align-middle">Profili Görüntüle</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:OpenMessageModal(@item.Id,'@item.ToString()');">
                            <i class="bx bx-message-add me-2"></i>
                            <span class="align-middle">Mesaj Gönder</span>
                        </a>
                    </li>
                </ul>
            </li>
        }
    </ul>

</div>