@using GegiCRM.Entities.Concrete
@{
    Layout = null;
}
@model List<OrdersProduct>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <title>Teklif Önizleme</title>
    <style>
        #canvas {
            padding: 30px;
            width: 21cm;
            margin: auto
        }
    </style>
</head>
<body cz-shortcut-listen="true">
    <div class="container mt-2">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div id="btn" class="btn btn-outline-primary col-6" onclick="CopyToClipboard('canvas');">Kopyala</div>
            </div>
        </div>
        <div id="canvas" class="canvas_div_pdf">
            <div class="row">
                <div class="col-sm-6" style="font-weight:bold">@ViewBag.TicariUnvan</div>
                <div class="col-sm-6" align="right">@DateTime.Now</div>
            </div>
            <br>
            <div>
                <table class="table  table-bordered table-sm">
                    <thead style="background:#00B0F0; color:#FFFFFF">
                        <tr>
                            <th>REFERANS</th>
                            <th>ADET</th>
                            <th>BİRİMİ</th>
                            <th>ÜRÜN ADI</th>
                            <th nowrap="">BİRİM FİYATI</th>
                            <th>DÖVİZ</th>
                            @if (ViewBag.Toplamli)
                            {
                                <th>TOPLAM</th>
                            }
                            <th>KDV</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td align="left">@item.ReferanceCode</td>
                                <td align="center">@item.Adet</td>
                                <td align="center">@item.Birim.Name</td>
                                <td align="left">@item.Product.ProductName</td>
                                <td align="center">@string.Format("{0:N}",item.BirimFiyat)</td>
                                <td align="center">@item.Currency?.Code</td>
                                @if (ViewBag.Toplamli)
                                {
                                    <td align="right">@string.Format("{0:N}",item.BirimFiyat * item.Adet)</td>
                                }
                                <td align="center">+KDV</td>
                            </tr>
                        }
                        @if (ViewBag.Toplamli)
                        {
                            <tr>
                                <td align="right" colspan="5">Toplam Sipariş Tutarınız <strong>(TL)</strong></td>
                                <td align="right" style="font-weight:bold">@string.Format("{0:N}", Model.Sum(x=>x.BirimFiyat * x.Adet))</td>
                                <td align="right" style="font-weight:bold">TL</td>
                                <td align="right" style="font-weight:bold">+KDV</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div id="torrent-scanner-popup" style="display: none;"></div>

    <script>
        function CopyToClipboard(element) {

            var doc = document
                , text = doc.getElementById(element)
                , range, selection;

            if (doc.body.createTextRange) {
                range = doc.body.createTextRange();
                range.moveToElementText(text);
                range.select();
            }

            else if (window.getSelection) {
                selection = window.getSelection();
                range = doc.createRange();
                range.selectNodeContents(text);
                selection.removeAllRanges();
                selection.addRange(range);
            }
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
            document.getElementById("btn").innerHTML = "Kopyalandı";
            setTimeout(function() {
                document.getElementById("btn").innerHTML = "Kopyala";
            }, 5000)
        }
    </script>

</body>
</html>


