@using GegiCRM.Entities.Concrete
@{
    Layout = null;
}
<div class="card col-12">
    <div class="card-body">
        <div class="row">
            <div col-12>
                <button class="btn btn-outline-primary">Yeni Müşteri Kaydı</button>
            </div>
        </div>

        <div class="row">

            <form action="/TeklifTakip/CreateNewOrder" method="post">
                <div class="mb-3 mt-5">
                    <label for="select-Customer" class="col-sm-2 form-control-label">Müşteri</label>
                    <div class="col-sm-12">
                        <select name="customer_Id" class="form-control selectpicker" id="select-Customer" data-live-search="true" aria-describedby="customerHelpd" data-container="body">
                            @foreach (Customer item in ViewBag.Customers)
                            {
                                <option value="@item.Id" data-tokens="@item.Name">@item.Name</option>
                            }
                        </select>

                        <div id="customerHelp" class="form-text">Teklif Verilecek Müşteriyi Seçin</div>
                    </div>
                </div>
                <div class="mb-5">
                    <label for="select-RepresentetiveUser" class="col-sm-2 form-control-label">Temsilci</label>
                    <div class="col-sm-12">
                        <select name="rUser_Id" class="form-control selectpicker" id="select-RepresentetiveUser" data-live-search="true" aria-describedby="representetiveUserHelp" data-container="body">
                            @foreach (AppUser item in ViewBag.Users)
                            {
                                <option value="@item.Id" data-tokens="@item">@item.NameSurname</option>
                            }
                        </select>

                        <div id="representetiveUserHelp" class="form-text">Temsilci Seçin</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Devam Et</button>
            </form>

        </div>

    </div>
</div>