@using GegiCRM.Entities.Concrete
@{
    Layout = null;
    Customer? musteri = ViewBag.Musteri;
    AppUser? user = ViewBag.Kullanici;
}

@model List<OrdersProduct>

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Teklif Önizleme</title>
    <style>
        #canvas {
            padding: 30px;
            width: 21cm;
            margin: auto
        }

        @@media print {
            #canvas {
                padding: 0px;
                margin: 0px;
            }

            .dm {
                display: none
            }

            body {
                padding: 0px;
                margim: 0px
            }
            /*.yenisayfa { page-break-before: always; } /* page-break-after works, as well */
            .footer {
                position: fixed;
                bottom: 0;
                width: 100%
            }

            */
        }

        table {
            max-width: 100% !important;
            width: 100%
        }
    </style>
</head>
<body>
    <div class="container mt-2">
        <div align="center" class="dm">
            <!-- <a href="javascript:generatePDF();" class="btn btn-secondary btn-lg">Pdf olarak indir</a> -->
            <a onclick="window.print();" href="javascript:;" class="btn btn-secondary btn-lg">Pdf / Yazdır</a>
            <a href="/Customers/Details/@musteri.Id" class="btn btn-secondary btn-lg">Müşteriye Git</a>
        </div>
        <div id="canvas" class="canvas_div_pdf">
            <div>
                <br>
            </div>
            <div>
                <div style="text-align: left;">
                    <span style="font-weight: bold;">
                        <span style="font-size: 18pt;">Teklif Formu</span>
                    </span>
                </div>
                <div>
                    <br>
                </div>
                <div>
                    <table align="" style="border-collapse: collapse; width: 100% border: none;" width="">
                        <tbody>
                            <tr>
                                <td style="border: none;">Sayın <br>@musteri.TicariUnvan <br>Yetkilisi Dikkatine </td>
                                <td style="text-align: right; border: none;">
                                    <img src="http://gegi.dizaynist.com/dosyalar/logo.png" alt="" align="" width="200" border="0" class="fr-fic fr-dii">
                                    <br>
                                    <br>@DateTime.Now.ToShortDateString() <br>İstanbul
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: justify;">
                        <br>
                        <br>Aşağıda size talep etmiş olduğunuz &uuml;r&uuml;nler ile ilgili teklifimizi sunuyorum. Size &nbsp;sunulan teklifimizle ilgili olarak sorularınızı cevaplamaya &nbsp;her &nbsp;zaman &nbsp;hazır &nbsp;olduğumuzu &nbsp;bildirir, bizi &nbsp;tercih &nbsp;etmiş olduğunuz i&ccedil;in teşekk&uuml;r eder, &ccedil;alışmalarınızda başarılar dileriz.
                    </div>
                    <div style="text-align: center;">
                        <br>
                    </div>
                    <div style="text-align: right;">Saygılarımızla</div>
                    <div style="text-align: center;">
                        <br>
                        <table align="" style="width: 100% border: none; border-collapse: collapse;" width="">
                            <tbody>
                                <tr>
                                    <td style="border: none;">
                                        <br>
                                    </td>
                                    <td style="border: none;">
                                        <br>
                                    </td>
                                    <td style="border: none;">
                                        <div style="text-align: right;">
                                            <span style="font-size: 14px;">@user.NameSurname</span>
                                        </div>
                                        <div style="text-align: right;">
                                            <span style="font-size: 14px;"></span>
                                        </div>
                                        <div style="text-align: right;">
                                            <span style="text-align: center; font-size: 14px;">850 226 4344 / 1001</span>
                                        </div>
                                        <div style="text-align: right;">
                                            <span style="font-size: 14px;">@user.Email</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
                <div style="text-align: center;">
                    <br>
                </div>
                <div>
                    <br>
                    <table align="center" style="width: 100% color: rgb(255, 255, 255); border-collapse: collapse; border: none; background-color: rgb(96, 202, 228);" width="">
                        <tbody>
                            <tr>
                                <td style="text-align: center; border: none; padding: 5px;color:#FFF;">www.gegi.com.tr</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
                <div style="text-align: center;">
                    <table class='table   dt table-sm  table-striped table-hover'>
                        <thead style="background:#60CAE4; color:white">
                            <tr>
                                <th>REFERANS</th>
                                <th>ADET</th>
                                <th>BİRİMİ</th>
                                <th>ÜRÜN ADI</th>
                                <th>BİRİM FİYATI</th>
                                <th>DÖVİZ</th>
                                <th>TOPLAM</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OrdersProduct item in Model)
                            {
                                <tr>
                                    <td align="left">@item.ReferanceCode</td>
                                    <td align="center">@item.Adet</td>
                                    <td align="center">@item.Birim.Name</td>
                                    <td align="left">@item.Product.ProductName</td>
                                    <td align="center">@string.Format("{0:N}",item.BirimFiyat)</td>
                                    <td align="center">@item.Currency?.Code</td>
                                    <td align="center">@string.Format("{0:N}", item.BirimFiyat * item.Adet)</td>
                                </tr>
                            }
                            <tr>
                                <td align="right" colspan="6">
                                    Toplam Sipariş Tutarınız <span style="color:#60CAE4">@Model.FirstOrDefault()?.Currency?.Code</span>
                                </td>
                                <td align="center" style="font-weight:bold">@string.Format("{0:N}", Model.Sum(x=>x.BirimFiyat * x.Adet))</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center;">
                    <br>
                </div>
                <div style="text-align: center;">
                    <br>
                </div>
                <div style="text-align: center;">
                    <table align="center" style="width: 100% color: rgb(255, 255, 255); border-collapse: collapse; border: none; background-color: rgb(96, 202, 228);" width="">
                        <tbody>
                            <tr>
                                <td style="text-align: center; border: none; letter-spacing: 0px; padding: 5px; color:#FFF;">Fiyatlandırma ve Satış Koşulları</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: left;">
                        <div>
                            <div style="text-align: justify;">1-) M&uuml;şteri, Şirketimize yazılı sipariş verildiği andan itibaren aşağıda yazılı Fiyatlandırma ve Satış Koşulları&#39;mızı aynen kabul ettiğini beyan ve taahh&uuml;t eder. Yazılı teyit şekilleri orijinal sipariş mektubu, sipariş faksı, KEP g&ouml;nderisi, e-tebligat g&ouml;nderisi veya firma yetkili ya da satın alma temsilcisinin elektronik posta g&ouml;nderileridir. Taraflar işbu vasıtaların yazılı delil niteliğinde olduğu y&ouml;n&uuml;nde anlaşmışlardır.</div>
                            <div style="text-align: justify;">2-) Teklif ge&ccedil;erlilik tarihi 31.07.2022&#39;dir.</div>
                            <div style="text-align: justify;">3-) Fiyatlarımıza KDV Dahil değildir. Fatura kesildiği tarihteki KDV oranı fiyatlara ilave edilecektir. Teklif formu onayından sonra getirilecek yeni d&uuml;zenlemelerle sipariş edilen &uuml;r&uuml;ne ilişkin ek vergi ve har&ccedil;lar getirilmesi durumunda bu vergi ve har&ccedil;lardan m&uuml;şteri sorumlu olacak olup Gegi sorumlu tutulmayacaktır.&nbsp;</div>
                            <div style="text-align: justify;">4-) Verilen fiyatlar peşin &ouml;deme esasına g&ouml;redir.</div>
                            <div style="text-align: justify;">5-) Belirtilen t&uuml;m donanım &uuml;r&uuml;nleri asgari 2 yıl garantilidir. Uygunsuz &uuml;r&uuml;n sipariş edilmesi halinde sorumluluk m&uuml;şteriye aittir. Bu y&ouml;ndeki itirazlar kabul edilmez.</div>
                            <div style="text-align: justify;">6-) Stokta olan &uuml;r&uuml;nler i&ccedil;in teslim s&uuml;resi 1-7 iş g&uuml;n&uuml;, yurt dışından sipariş edilecek &uuml;r&uuml;nlerin teslim s&uuml;resi 1-8 haftadır. &Uuml;r&uuml;n tesliminin tedarik&ccedil;i ve/veya 3. kişi (taşıma vb.) kaynaklı sebeplerle gecikmesi halinde Gegi&#39;nin ge&ccedil; teslimden dolayı sorumluluğu bulunmamaktadır.</div>
                            <div style="text-align: justify;">7-) Teklif i&ccedil;erisinde adet değişikliği olması durumunda birim fiyat revize edilecektir.</div>
                            <div style="text-align: justify;">8-) 1.000 TL (BinT&uuml;rkLirası) ve &uuml;zeri alımlarda kiralama yapabilirsiniz.</div>
                            <div style="text-align: justify;">9-) Satınalma temsilcisinin/yetkilisinin m&uuml;şterinin imza yetkilisi olması gerekmeyip verilen sipariş doğrudan veya dolaylı temsilci veya ticari vekil sıfatı ile verilmiş kabul edilir.</div>
                            <div style="text-align: justify;">10-) Vadeli alım Gegi&#39;ye teminat mektubu verilmesi ile m&uuml;mk&uuml;nd&uuml;r. Mektup tutarı kadar limit a&ccedil;ılmaktadır.</div>
                            <div style="text-align: justify;">11-) Vadeli alımlarda &uuml;r&uuml;nler USD cinsinden fatura edilip, USD olarak tahsil edilecektir. Faturanın TL cinsinden d&uuml;zenlenmesi durumunda &ouml;demenin vade tarihinde ve/veya daha sonraki bir tarihte nakit veya herhangi bir &ouml;deme aracı ile TL &uuml;zerinden yapılması halinde &ouml;demenin fiilen Gegi şirket hesaplarına girdiği g&uuml;n ile fatura kesim tarihi arasındaki kur farkı T.C.M.B. d&ouml;viz satış kuru baz alınarak hesaplanır ve m&uuml;şteri, aradaki farkı bir hafta i&ccedil;inde &ouml;demeyi taahh&uuml;t eder.</div>
                        </div>
                        <div>
                            <br>
                        </div>
                    </div>
                </div>
                <br>
                <table align="center" style="width: 100% color: rgb(255, 255, 255); border-collapse: collapse; border: none; background-color: rgb(96, 202, 228);" width="">
                    <tbody>
                        <tr>
                            <td style="text-align: center; border: none; padding: 5px; color:#FFF;">Gizlilik ve Kişisel Verilerin Korunması</td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align: justify;">1- Gegi tarafından kurumunuza iletilen; yazılı, elektronik formatta, s&ouml;zl&uuml; her t&uuml;rl&uuml; bilgi, &uuml;r&uuml;n, &ccedil;&ouml;z&uuml;m, teknik &ccedil;izim, tasarım, konfig&uuml;rasyon, vb. &quot;Gizli Bilgi&quot; olarak kabul edilir. Gizli bilgiler s&uuml;resiz olarak; yazılı izinsiz olarak kullanılamaz, &ccedil;oğaltılamaz, 3. kişilere verilemez. Aksine davranışın zarar ve ziyanı karşılaması esastır.</div>
                <div style="text-align: justify;">2- Kişisel Verileriniz, İşbu Teklif Formu&#39;nun doldurulması ile birlikte 6698 sayılı Kanun md. 5/2-c h&uuml;km&uuml;nde yer alan &quot;bir s&ouml;zleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, s&ouml;zleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması&quot; hukuki nedenine dayanılarak işlenecektir. Detaylı bilgiye https://www.gegi.com.tr/Kisisel-Veri-Aydinlatma-Metni-i48 adresinden ulaşabilirsiniz.</div>
                <br>
                <div>
                    <table align="" style="width: 100% border: none; border-collapse: collapse;" width="">
                        <tbody>
                            <tr>
                                <td style="border: none; width: 200px; letter-spacing: 0px;">ADI SOYADI : <br>&Uuml;NVANI : <br>TARİH : </td>
                                <td style="text-align: center; border: none;">TEKLİF KABUL EDİLMİŞTİR.</td>
                                <td style="text-align: center; width: 200px; height: 150px; letter-spacing: 0px; vertical-align: top; border: 1px solid rgb(96, 202, 228);">KAŞE / İMZA</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                        <br>Gegi Bilgi Teknolojileri A.Ş.
                    </div>
                    <div style="text-align: center;">&Ccedil;amlık Mah. Muhsin Yazıcıoğlu Cad. Uğur Sok. Uysal Plaza No: 4 Kat : 3 &Ccedil;ekmek&ouml;y / İSTANBUL</div>
                    <div style="text-align: center;">Telefon : 0850 226 43 44 Faks : 0216 430 89 23</div>
                    <div style="text-align: center;">Sarıgazi V.D. 390 100 8392 Tic. Sicil No : 713271</div>
                    <div style="text-align: center;">Mersis No : 0-3901-0083-9200001 info@gegi.com.tr</div>
                </div>
                <div>
                    <br>
                    <table align="center" style="width: 100% color: rgb(255, 255, 255); border-collapse: collapse; border: none; background-color: rgb(96, 202, 228);" width="">
                        <tbody>
                            <tr>
                                <td style="text-align: center; border: none; padding: 5px;">
                                    <span style="color: rgb(255, 255, 255);">www.gegi.com.tr</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p data-f-id="pbf" style="text-align: center; font-size: 14px; margin-top: 30px; opacity: 0.65; font-family: sans-serif;"></p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script>
        function generatePDF() {
            // Choose the element that our invoice is rendered in.
            const element = document.getElementById("canvas");
            var opt = {
                margin: 0,
                filename: 'Gegi - @musteri.TicariUnvan - Teklifiniz.pdf',
                image: {
                    type: 'jpg',
                    quality: 1
                },
                html2canvas: {
                    scale: 1.2
                },
                jsPDF: {
                    unit: 'in',
                    format: 'A4',
                    orientation: 'portrait'
                }
            };
            html2pdf().set(opt).from(element).save();
            // Choose the element and save the PDF for our user.
            // html2pdf()
            //   .from(element)
            //   .save("163119 - Siparisiniz.pdf");
        }
    </script>
    <script>
        function indir() {
            var header = function(data) {
                doc.setFontSize(18);
                doc.setTextColor(40);
                doc.setFontStyle('normal');
                //doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
                doc.text("Testing Report", data.settings.margin.left, 50);
            };
            var options = {
                pagesplit: true
            };
            var pdf = new jsPDF('p', 'pt', 'a4');
            pdf.addHTML($(".canvas_div_pdf"), 0, 0, options, function() {
                pdf.save('pageContent.pdf');
            });
        }
                              //  indir();
    </script>
    <script>
        // window.print();
    </script>
</body>
</html>