@using GegiCRM.Entities.Concrete
@{
    ViewData["title"] = "Teklif Düzenle";
}

@model Order

<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid m-0 p-0">
        <i class="navbar-brand d-block d-sm-none">@*İşlemler*@</i>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarControl" aria-controls="navbarControl" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarControl">
            <ul class="navbar-nav w-100 d-flex justify-content-sm-end">
                <li class="nav-item m-1">
                    <button class="w-100 btn btn btn-success">
                        <i class="bx bx-save"></i>
                        Kaydet
                    </button>
                </li>
                <li class="nav-item m-1">
                    <div class="d-block btn-group w-100">
                        <button type="button" class="w-100 btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-printer"></i>
                            Yazdır
                        </button>
                        <ul class="dropdown-menu" style="">
                            <li>
                                <a class="dropdown-item" href="#">Kopyala (Toplamsız)</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Kopyala (Toplamlı)</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/teklif-sablonu.asp?id=126&amp;tId=13517&amp;menu=siparis" target="_blank">Adobe Teklif</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/teklif-sablonu.asp?id=128&amp;tId=13517&amp;menu=siparis" target="_blank">Comodo Teklif</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/teklif-sablonu.asp?id=124&amp;tId=13517&amp;menu=siparis" target="_blank">Donanım Teklif</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/teklif-sablonu.asp?id=125&amp;tId=13517&amp;menu=siparis" target="_blank">İskontolu Teklif (Kullanımda Değil)</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/teklif-sablonu.asp?id=130&amp;tId=13517&amp;menu=siparis" target="_blank">Kiralama</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/teklif-sablonu.asp?id=129&amp;tId=13517&amp;menu=siparis" target="_blank">Proforma Fatura</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/teklif-sablonu.asp?id=3097&amp;tId=13517&amp;menu=siparis" target="_blank">Qnap Teklif Şablonu</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/teklif-sablonu.asp?id=127&amp;tId=13517&amp;menu=siparis" target="_blank">Sophos Teklif</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/teklif-sablonu.asp?id=2972&amp;tId=13517&amp;menu=siparis" target="_blank">TechnoPC Teklif</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/teklif-sablonu.asp?id=132&amp;tId=13517&amp;menu=siparis" target="_blank">Tek Sayfa Donanım Teklif</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/teklif-sablonu.asp?id=131&amp;tId=13517&amp;menu=siparis" target="_blank">UPS Bakım</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item m-1">
                    <button class="w-100 btn btn-info">
                        <i class="bx bx-info-circle"></i>
                        Müşteri Bilgisi
                    </button>
                </li>
                <li class="nav-item m-1">
                    <button class="w-100 btn btn-danger">
                        <i class="bx bx-trash"></i>
                        Sil
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="col-12">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Teklif Bilgisi</h5>
            @*<small class="d-none d-md-block text-muted float-end">Teklif Durumu</small>*@
        </div>
        <div class="card-body">
            <div class="row d-flex justify-content-between">
                <div class="col-12 col-md-6">

                    <div class="card">
                        <div class="card-body m-1">

                            <div class="mb-3">
                                <h6>
                                    ID:
                                    <i class="text-muted">@Model.Id</i>
                                </h6>
                            </div>

                            <div class="mb-3">
                                <h6>
                                    Kayıt Tarihi:
                                    <i class="text-muted">@Model.CreatedDate</i>
                                </h6>
                            </div>

                            <div class="mb-3">
                                <h6>
                                    Kaydeden:
                                    <i class="text-muted">@Model.AddedBy.Name</i>
                                </h6>
                            </div>

                            <div class="mb-3">
                                <h6>
                                    Ana Müşteri:
                                    <i class="text-muted">@Model.Customer.CustomerMainCompany.Name</i>
                                </h6>
                            </div>

                            <div class="mb-3">
                                <label for="select-Customer" class="col-sm-2 form-control-label">Müşteri</label>
                                <div class="col-12">
                                    <select name="customer_Id" class="form-control selectpicker" id="select-Customer" data-live-search="true" aria-describedby="customerHelp" data-container="body">
                                        @foreach (Customer item in ViewBag.Customers)
                                        {
                                            if (item.Id == Model.CustomerId)
                                            {
                                                <option value="@item.Id" data-tokens="@item.Name" selected="selected" class="bg-primary">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id" data-tokens="@item.Name">@item.Name</option>
                                            }
                                        }
                                    </select>

                                    @*<div id="customerHelp" class="form-text">Teklif Verilecek Müşteriyi Seçin</div>*@
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="select-RepresentetiveUser" class="col-sm-2 form-control-label">Temsilci</label>
                                <div class="col-12">
                                    <select name="rUser_Id" class="form-control selectpicker" id="select-RepresentetiveUser" data-live-search="true" aria-describedby="representetiveUserHelp" data-container="body">
                                        @foreach (AppUser item in ViewBag.Users)
                                        {
                                            if (item.Id == Model.RepresentetiveUserId)
                                            {
                                                <option value="@item.Id" data-tokens="@item" selected="selected">@item.NameSurname</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id" data-tokens="@item">@item.NameSurname</option>
                                            }
                                        }
                                    </select>

                                    @*<div id="representetiveUserHelp" class="form-text">Temsilci Seçin</div>*@
                                </div>
                            </div>

                            <div class="mb-3">
                                <span for="select-RepresentetiveUser" class="col-sm-2 form-control-label">Sipariş Durumu</span>
                                <div class="col-12">
                                    <select name="orderState_Id" class="form-control selectpicker" id="select-orderState" data-live-search="true" aria-describedby="representetiveUserHelp" data-container="body">
                                        @foreach (OrderState item in ViewBag.OrderStates)
                                        {
                                            if (item.Id == Model.OrderStateId)
                                            {
                                                <option value="@item.Id" data-tokens="@item" selected="selected" class="bg-primary">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id" data-tokens="@item">@item.Name</option>
                                            }
                                        }
                                    </select>

                                    @*<div id="select-orderState" class="form-text">Temsilci Seçin</div>*@
                                </div>
                            </div>


                            <div class="mb-3">
                                <span>Sipraiş Kurları</span>
                                <div id="waitCurrency" class="spinner-border spinner-border-sm text-secondary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div id="OrdersCurrencies">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-6">
                    <div class="card col-12 m-1">
                        <div class="card-body">

                            @if (ViewBag.IsOffer)
                            {
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label cursor-pointer" for="IsOfferApproved">TEKLİF ONAY</label>
                                            <input class="form-check-input cursor-pointer" asp-for="IsOfferApproved">
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label cursor-pointer" for="IsCancelled">TEKLİF İPTAL</label>
                                            <input class="form-check-input cursor-pointer" asp-for="IsCancelled">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <input class="form-control" asp-for="OfferApprovedDate">
                                        <label for="OfferApprovedDate" class="form-label text-muted">TEKLİF ONAY TARİHİ</label>

                                    </div>

                                    <div class="col-6">
                                        <input class="form-control" asp-for="CancelledDate">
                                        <label for="CancelledDate" class="form-label text-muted">TEKLİF İPTAL TARİHİ</label>
                                    </div>
                                </div>
                            }
                            else
                            {

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label cursor-pointer" for="IsOrderApproved">SİPARİŞ ONAY</label>
                                            <input class="form-check-input cursor-pointer" asp-for="IsOrderApproved">
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label cursor-pointer" for="IsDeneied">SİPARİŞ İPTAL</label>
                                            <input class="form-check-input cursor-pointer" asp-for="IsDeneied">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <input class="form-control" asp-for="OrderApprovedDate">
                                        <label for="OrderApprovedDate" class="form-label text-muted">SİPARİŞ ONAY TARİHİ</label>

                                    </div>

                                    <div class="col-6">
                                        <input class="form-control" asp-for="DeniedDate">
                                        <label for="DeniedDate" class="form-label text-muted">SİPARİŞ RED TARİHİ</label>
                                    </div>
                                </div>
                            }

                            <div class="mt-3">
                                <label for="select-Customer" class="col-sm-2 form-control-label">Teslimat Adresi Seç</label>
                                <div class="col-12">
                                    <select name="customer_Id" class="form-control selectpicker" id="select-Customer" data-live-search="true" aria-describedby="customerHelp" data-container="body">
                                        @foreach (CustomerAddress item in Model.Customer.CustomerAddresses)
                                        {
                                            if (item.Id == Model.SelectedCustomerAddressId)
                                            {
                                                <option value="@item.Id" data-tokens="@item.AddressName" selected="selected" class="bg-primary">
                                                    @item.AddressName
                                                    <br/>
                                                    <i class="text-muted">@item</i>
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id" data-tokens="@item.AddressName">@item.AddressName</option>
                                            }
                                        }
                                    </select>

                                    @*<div id="customerHelp" class="form-text">Teklif Verilecek Müşteriyi Seçin</div>*@
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts
{
<script>

    function getNewOrdersCurrencies() {
        $("#waitCurrency").show();

        $.ajax({
            "url": "/TeklifTakip/_GetOrdersCurrenciesWithEditing/@Model.Id",
            "method": "GET",
            success: function(data) {
                $("#OrdersCurrencies").html(data);
            },
            error: function(err) {
                console.log(err);
                $("#OrdersCurrencies").html("Bir Hata Oluştu !");
            }
        }).done(function() {
            $("#waitCurrency").hide();
        });

    };

    getNewOrdersCurrencies();
</script>
}
