@using GegiCRM.Entities.Concrete
@{
    ViewData["title"] = $"{ViewBag.Type} Takip";
}
@model List<Order>

@*<style>
    .td {
    overflow-x: auto;
    }
    </style>*@

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5>@ViewBag.Type<text>ler</text></h5>
            <button id="newOrderButton" type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#newOrderCollapse">
                Yeni @ViewBag.Type
            </button>
        </div>

        <div class="collapse mt-3" id="newOrderCollapse">
            <div class="col-12 d-flex justify-content-center">
                <div id="waitNewOrder" class="spinner-border spinner-border-lg text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div id="newOrderContent" class="d-grid d-sm-flex p-3" style="min-height: 400px">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap pt-2 pb-4 w-100" style="overflow-x:hidden">
            <table id="Orders" class="table table-striped table-hover col-12 w-100">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ÇATI FİRMA</th>
                        <th>MÜŞTERİ T.Ü</th>
                        <th>TEKLİF TUTARI</th>
                        <th>ETKİLEŞİM</th>
                        <th>KAYIT TARİHİ</th>
                        <th>DURUMU</th>
                        <th>TEKLİF ONAY</th>
                        <th>TEKLİF ONAY TARİHİ</th>
                        <th>SİPARİŞ ONAY</th>
                        <th>SİPARİŞ ONAY TARİHİ</th>
                        <th>İŞLEM</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (Order item in Model)
                    {
                        <tr data-id="@item.Id" class="clickableTr">
                            <td>@item.Id</td>
                            <td>@item.Customer.CustomerMainCompany.Name</td>
                            <td>@item.Customer.Name</td>
                            <td>@String.Format("{0:N}", item.OrdersProducts.Sum(x=>x.Adet*x.BirimFiyat))</td>
                            <td>
                                <ul class="list-unstyled users-list m-0 avatar-group">
                                    <li>
                                        <img data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="rounded-circle avatar avatar-xs pull-up" title="Kaydeden: @item.AddedBy.NameSurname" src="/assets/img/avatars/1.png" alt="Kaydeden: @item.AddedBy.NameSurname" />

                                        Kaydeden: @item.AddedBy.NameSurname
                                    </li>
                                    <li>
                                        <img data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="rounded-circle avatar avatar-xs pull-up" title="Temsilci: @item.AddedBy.NameSurname" src="/assets/img/avatars/1.png" alt="Temsilci: @item.RepresentetiveUser.NameSurname" />

                                        Temsilci: @item.RepresentetiveUser.NameSurname
                                    </li>
                                </ul>
                            </td>
                            <td>@item.CreatedDate</td>
                            <td>@item.OrderState.Name</td>
                            <td>
                                @*@item.IsOfferApproved*@
                                @Html.Raw(item.CreateHtmlBadgeForOffer())
                            </td>
                            <td>@item.OfferApprovedDateDateFormatted</td>
                            <td>
                                @*@item.IsOrderApproved*@
                                @Html.Raw(item.CreateHtmlBadgeForOrder())
                            </td>
                            <td>@item.OrderApprovedDateFormatted</td>

                            <td>
                                <div class="dropdown blockNavigate">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu" data-name="actionList">
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i>Düzenle</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-check-double me-1 bg-label-success"></i>Tüm Kalemler ile Onayla</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-check me-1 text-success"></i>Onaylı Kalemler ile Onayla</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-x me-1 bg-label-danger"></i>İptal Et</a>
                                        <a class="dropdown-item" href="javascript:void(0);" onclick="ShowDeleteModal(@item.Id)"><i class="bx bx-trash me-1 text-danger"></i>Sil</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>
                <tfoot class="table-border-bottom-0">
                </tfoot>
            </table>
        </div>
    </div>
</div>


<hr class="my-5" />

<!-- Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle"><i class="deletedOrderId"></i> Id'li @ViewBag.Type<text>i</text> Silmek Üzeresin !</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label class="text-danger"><i class="deletedOrderId"></i> Id'li @ViewBag.Type<text>i</text> Silmek İstediğine Emin Misin ?</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Hayır İptal
                </button>
                <button class="btn btn-danger" onclick="DeleteOrder()">Evet Sil</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="orderProductMultiSelection" data-bs-backdrop="static" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">  </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label class="text-danger">  </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                    Onayla
                </button>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script>
        var orderIdToDelete = 0;
        var firstTime = true;

        $("#newOrderButton").click(function() {

            if (firstTime) {
                getNewOrderPage();
                firstTime = false;
            }
        });

        function getNewOrderPage() {
            $("#waitNewOrder").show();

            $.ajax({
                "url": "/TeklifTakip/_NewOrderContentPartial",
                "method": "GET",
                success: function(data) {
                    $("#newOrderContent").html(data);
                },
                error: function(err) {
                    console.log(err);
                    alert("Bir Hata Oluştu !");
                }
            }).done(function() {
                $("#waitNewOrder").hide();
            });

        };

        function ShowDeleteModal(id) {
            orderIdToDelete = id;
            $(".deletedOrderId").html(id);
            $("#deleteModal").modal('show');
        }

        function DeleteOrder() {
            var trToDelete = $('tr[data-id="' + orderIdToDelete + '"]');
            console.log(trToDelete);

            var table = $('#Orders').DataTable();
            table.row(trToDelete).remove().draw();

            $.ajax({
                "url": "/TeklifTakip/Delete",
                "method": "POST",
                data: { id: orderIdToDelete },
                success: function(data) {
                    var table = $('#Orders').DataTable();
                    table.row(trToDelete).remove().draw();
                },
                error: function(err) {
                    console.log(err);
                    alert("Bir Hata Oluştu !");
                }
            }).done(function() {
                $("#deleteModal").modal('hide');
            });

        };

        $(".clickableTr").on("click", function() {
            var id = $(this).attr("data-id");
            console.log(id);
            window.location.href = "/TeklifTakip/Edit/" + id;
        });

        $(".blockNavigate").on("click", function(e) {
            e.stopPropagation();
        });

        //$(function() {
        //    var contextMenuItems = {
        //        "newTab": { name: "Yeni Sekmede Aç", icon: "external-link" },
        //        "cut": { name: "Tüm Kalemler ile Onayla", icon: "ok" },
        //        "copy": { name: "Onaylı Kalemler İle Onayla", icon: "ok" },
        //        "paste": { name: "İptal", icon: "cancel" },
        //        "delete": { name: "Sil", icon: "delete" },
        //        "sep1": "---------",
        //        "quit": { name: "Kapat", icon: function($element, key, item) { return 'context-menu-icon context-menu-icon-quit'; } }
        //    };
            

        //    console.log(contextMenuItems);

        //    $('.dataTable tbody').contextMenu({
        //        selector: 'tr',
        //        callback: function(key, options) {
        //            var m = "clicked: " + key + " on " + $(this);
        //            window.console && console.log(m);
        //        },
        //        items: contextMenuItems
        //    });
        //});



    </script>
}
