@using GegiCRM.Entities.Concrete
@{
    Layout = null;

}
@model IEnumerable<UserMessagesViewModel>

<small class="text-light fw-semibold mx-auto px-2">Mesajlar</small>
<div class="mt-1">
    <ul class="list-group list-group-flush" id="allUsers">
        @foreach (UserMessagesViewModel item in Model)
        {
            string? sendDate = item.LastMessage?.SendDate.ToString();
            string? messageText = "Mesaj Yok";
            string color = "black";
            if (item.LastMessage != null)
            {
                sendDate = item.LastMessage.SendDate.ToString();
                messageText = item.LastMessage.Message;
                if (item.LastMessage.SenderUserId != ViewBag.UserId && item.LastMessage.ReadDate == null)
                {
                    color = "Blue";
                }
            }

            <li class="list-group-item list-group-item-action cursor-pointer">
                <div class="row" onclick="OpenMessageModal(@item.User.Id,'@item.ToString()');">
                    <div class="col-2">
                        <div class="avatar">
                            <img src="@item.User.ProfilePictureUrl" alt="@item.User Profil Fotoğrafı" class="w-px-40 h-auto rounded-circle avatar profilePicture">
                        </div>
                    </div>

                    <div class="col-10">
                        <div class="row d-flex justify-content-between">
                            <p class="col-auto mb-0"> @item.User.NameSurname <small class="text-muted">@item.User.NormalizedUserName (#@item.User.Id)</small></p>
                            <small class="col-auto float-end" id="userSendDate_@item.User.Id">@sendDate</small>
                        </div>
                        <div class="row">
                            <p class="mb-0">
                                <i id="userLastMessage_@item.User.Id" style="color:@color">@messageText</i>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        }

    </ul>
</div>

<script>
    $("#unreadMessageCount").html(@ViewBag.TotalMessageCount);
</script>