@model GegiCRM.Entities.Concrete.CustomerBillingAddress

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CustomerBillingAddress</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VergiNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VergiNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VergiDairesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VergiDairesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedBy.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
