@using GegiCRM.Entities.Concrete
@{
    Layout = null;
}
@model CustomerAddress


<div class="modal-header">
    <h5 class="modal-title">Müşteri Adresi Düzenle (@Model.AddressName)</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <form id="editAddressForm" action="/Customers/_EditCustomerAddress" method="post" class="col-12">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
        <input type="hidden" name="AddedById" value="@Model.AddedById" />
        <input type="hidden" name="ModifiedById" value="@Model.ModifiedById" />
        <input type="hidden" asp-for="ModifiedDate" />
        <input type="hidden" asp-for="CreatedDate" />


        <div class="mb-3 col-12">
            <label class="form-label">Adres Adı</label>
            <input type="text" class="form-control" asp-for="AddressName">
        </div>

        <div class="mb-3 col-12">
            <label class="form-label">İl</label>
            <input type="text" class="form-control" asp-for="Il">
        </div>

        <div class="mb-3 col-12">
            <label class="form-label">İlçe</label>
            <input type="text" class="form-control" asp-for="Ilce">
        </div>

        <div class="mb-3 col-12">
            <label class="form-label">Adres</label>
            <textarea class="form-control" asp-for="Address"></textarea>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <input type="submit" class="btn btn-outline-primary" value="Düzenlemeyi Kaydet">
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
        Kapat
    </button>
</div>
<script>
    $("#editAddressForm").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = form.attr('action');

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function(data) {
                $("#addressResponse").fadeIn(0).fadeOut(1500).html("İşlem Tamamlandı");
                GetCustomerAddresses();
            },
            error: function(err) {
                console.log(err);
                alert("Bir Hata Oluştu !");
            }
        });

    });
</script>
